@using Regate

@{
    ViewData["Title"] = "RegateText";
}

@Html.Raw(RegateText.Init())

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">ساده</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title"))</pre>

                <div>
                    @Html.Raw(RegateText.Build("Title"))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">مقدار پیش‌فرض</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title", "سلام دنیا"))</pre>

                <div>
                    @Html.Raw(RegateText.Build("Title", "سلام دنیا"))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">اجباری</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title", true))</pre>

                <div>
                    @Html.Raw(RegateText.Build("Title", true))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">اجباری با مقدار پیش‌فرض</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title", "سلام دنیا", true))</pre>

                <div>
                    @Html.Raw(RegateText.Build("Title", "سلام دنیا", true))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Placeholder</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title", new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))</pre>

                <div>
                    @Html.Raw(RegateText.Build("Title", new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Placeholder و مقدار پیش‌فرض</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title", "سلام دنیا", new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))</pre>
                <div>
                    @Html.Raw(RegateText.Build("Title", "سلام دنیا", new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Placeholder و اجباری</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title", true, new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))</pre>

                <div>
                    @Html.Raw(RegateText.Build("Title", true, new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="content">
        <div class="block block-rounded block-bordered">
            <div class="block-header block-header-default">
                <h3 class="block-title">Placeholder و اجباری با مقدار پیش‌فرض</h3>
            </div>
            <div class="block-content block-content-full">
                <pre class="sample-code sample-code-regate">&#64;Html.Raw(RegateText.Build("Title", "سلام دنیا", true, new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))</pre>

                <div>
                    @Html.Raw(RegateText.Build("Title", "سلام دنیا", true, new RegateText.Options
                    {
                        Placeholder = "لطفا عنوان را وارد کنید"
                    }))
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-sm btn-success">
                    ثبت <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</form>